{% extends 'base.html' %}

{% block content %}
<h1>Категория: {{ category_name }}</h1>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Статус</th>
            <th>Категория</th>
            <th>Рейтинг</th>
            <th>Фото</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.is_available }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.rating }}</td>
            <td>{{ product.photo }}</td>
            <td>{{ product.count_items }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a type="button" class="btn btn-secondary" href="{% url 'home' %}">Вернуться в каталог</a>
{% endblock %}