{% extends 'base.html' %}

{% block content %}
<h1>Список всех товаров</h1>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Статус</th>
            <th>Категория</th>
        </tr>
    </thead>
    <tbody>
        {% for good in goods %}
        <tr>
            <td>{{ good.good_name }}</td>
            <td>{{ good.price }}</td>
            <td>{{ good.status }}</td>
            <td>{{ good.category }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}